/*.descCol{
  width: 20%;
}
.editCol{
  width: 80%;
}
.editInput{
  width: 100%;
}

tr{
  margin: 1%;
}*/

.cardNewContainer {
  width: 50%;
  margin: auto;
  margin-top: 2%;
  background: #E2E0FB;
  padding: 15px;
  border-radius: 10px;
}
