<form class="form-group" style="margin: auto; width: 60%">
  <table class="table" style="width: 80%; margin: auto;">
    <tr>
      <td class="descCol">Title</td>
      <td class="editCol">
        <input type="text" class="editInput" name="editcardtitle" [(ngModel)]="card.name" placeholder="Title">
      </td>
    </tr>
    <tr>
      <td class="descCol">Description</td>
      <td class="editCol">
        <input type="text" class="editInput" id="imgInput" name="editcarddescription" [(ngModel)]="card.description"
               placeholder="Description">
      </td>
    </tr>
    <tr>
      <td class="descCol">Image</td>
      <td class="editCol">
        <app-file-upload name="upload" [(ngModel)]="card.image"></app-file-upload>
      </td>
    </tr>
    <tr>
      <td style="width: 50%">
        <button class="btn btn-primary" style="width: 50%; margin: auto;" (click)="createCard()">Create card</button>
      </td>
      <td style="width: 50%">
        <button class="btn btn-danger" style="width: 50%; margin: auto;" (click)="navigateAbort()">Discard changes
        </button>
      </td>
    </tr>
  </table>
</form>
