<div class="wrapper">
  <button name="newthemebutton" routerLink="/thema-toevoegen">Nieuw thema</button>
  <ul>
    <li class="lititel"><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
  </ul>
  <ul class="scrollul">

    <li *ngFor="let currenttheme of themes"><span class="namespan">nekhfskqljluvhjqsiljufsjfuhlighslgame</span> <span class="descriptionspan">descri
  background-color: grey;
  background-color: grey;
  background-color: grey;
  background-color: grey;
  background-color: grey;
  background-color: grey;
  background-color: grey;
  background-color: grey;
  background-color: grey;
  background-color: grey;
  background-color: grey;
  background-color: grey;ption</span> <span
      class="tagspan">tags</span>

      <button name="detailthemebutton"[routerLink]="['/theme/',currenttheme.id]">Details</button>
    </li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>
    <li><span class="namespan">name</span> <span class="descriptionspan">description</span> <span
      class="tagspan">tags</span></li>

  </ul>
</div>
