.borderBlue {
  border: solid blue 1px;
}

.cardBox{
  width: 30%;
  display: inline-block;
  margin: 1%;
  padding: 1%;
}

mat-card-content {
  text-align: left;
}

.subtitle {
  text-align: left;
}

.descriptionContainer {
  text-align: left;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonCss {
  width: 47%;
  display: inline-block;
  margin: 1%;
  border: 1px solid black;
}

.cardContainer {
  width: 80%;
  margin: auto;
  margin-top: 2%;
  background: #E2E0FB;
  padding: 15px;
  border-radius: 10px;
}

.cardBoxContainer {
  margin-top: 3%;
}
