<div class="cardContainer">
<button mat-raised-button color="primary" (click)="navigateNewCard()">Nieuwe kaart toevoegen</button>
<div class="cardBoxContainer">
  <!-- -->
  <div *ngFor="let card of cards" class="cardBox"
       style="background-size: 100% 100%"
       [ngStyle]="{'background-image': 'url(' + card.image + ')'}">
    <h1>{{card.name}}</h1>
    <div class="descriptionContainer">{{card.description}}</div>
    <div>--- image: {{card.image.substring(0,30)}} ---</div>
    <div style="width: 100%">
      <button style="width: 49%" mat-raised-button color="primary" (click)="editCard(card.id)">Wijzig</button>
      <button style="width: 49%;" mat-raised-button color="warn" (click)="deleteCard(card.id)">Verwijder</button>
    </div>
  </div>
</div>
</div>
