.borderRed{
  border: red 1px solid;
}

.maxWidth{
 width: 80%;
}

.containerCenter{
  margin: auto;
}

.buttonWidth{
  width: 80%;
  background-color: blue;

}

.marginTop{
  margin-top: 2%;
}
.marginBottom{
  margin-bottom: 2%;
}

.supercontainer{
  width: 50%;
  margin: auto;
  background-color: lightgray;
  border-radius: 25px;

}

.ng-valid[required], .ng-valid.required {
  border-right: 2px solid green;
}

.ng-invalid:not(form) {
  border-right: 2px solid red;
}
