<div class="row mb-4">
  <div class="col-md-12">
    <div class="card" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
      <div class="text-white text-center d-flex align-items-center py-5 px-4 my-5">
        <div>
          <h1 class="card-title pt-3 mb-5 font-bold"><strong>Kandoe Login</strong></h1>
          <p class="mx-5 mb-5">Brainstormen is een creativiteitstechniek met als doel snel veel nieuwe
            ideeën over een bepaald onderwerp of vraagstuk te genereren.
            Het kenmerk van een brainstormsessie is dat het waardeoordeel over de geopperde ideeën wordt uitgesteld
            totdat ze allemaal zijn opgesomd.Kandoe is de ideale manier om dit te doen </p>
          <div class="container">
            <div class="card card-container">
              <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
              <p id="profile-name" class="profile-name-card"></p>
              <form class="form-signin" #f="ngForm" (ngSubmit)="f.form.valid && login()">
                <span id="reauth-email" class="reauth-email"></span>
                <input name="username" type="text" id="inputEmail" [(ngModel)]="usernametext" class="form-control"
                       placeholder="Username" required autofocus>
                <input name="password" type="password" id="inputPassword" [(ngModel)]="passwordtext"
                       class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                <button class="btn btn-primary margin " [routerLink]="['/register']">Register</button>

              </form><!-- /form -->
              <a href="#" class="forgot-password">
                Forgot the password?
              </a>
            </div><!-- /card-container -->
          </div><!-- /container -->        </div>
      </div>
    </div>
  </div>
</div>

