.containerCenter{
  margin:auto;
  width: 50%;
}
.margin{
  margin-top: 2%;
  margin-bottom: 2%;
}
.containerinput{
  width: 70%;
  margin: auto;
}
.borderRed{
  border-top: white solid 2px;
}

.backgroundRound{
  background-color: lightgray;
  border-radius: 25px;
}
