<div class="container marginTop">
  <form name="registerForm" #registerForm="ngForm" class="formcontainer">
    <div class="supercontainer containerCenter">
      <div class="titlecontainer containerCenter">
        <h1>Please sign up for Kandoe</h1>
      </div>
      <div class="inputcontainer containerCenter maxWidth">
        <input id="firstNameInput" name="firstName" type="text"
               [(ngModel)]="model.firstname"
               class="form-control marginTop" placeholder="First name" required>
        <input id="lastNameInput" name="lastName" type="text"
               [(ngModel)]="model.lastname"
               class="form-control marginTop" placeholder="Last name" required>
        <input id="emailInput" name="email" type="email"
               [(ngModel)]="model.email"
               class="form-control marginTop" placeholder="Email address" required>
        <input id="usernameInput" name="username" type="text"
               [(ngModel)]="model.username"
               class="form-control marginTop" placeholder="Username" required>
        <input id="pwInput" name="pw" type="password"
               [(ngModel)]="model.password"
               class="form-control marginTop" placeholder="Password" required>
        <input id="pwCheckInput" name="pwCheck" type="password"
               [(ngModel)]="passwordCheck"
               class="form-control marginTop" placeholder="Confirm password" required>
      </div>
      <div class="buttoncontainer containerCenter marginTop">
        <button type="button" class="btn btn-primary buttonWidth marginBottom"
                [disabled]="!registerForm.form.valid || model.password !== passwordCheck"
                (click)="register()"
                name="registerButton">Register</button>
      </div>
    </div>
  </form>
</div>
