<app-themedetail-navbar></app-themedetail-navbar>
<div class="pagecontainer">
  <div class="cardcontainer borderRed" *ngFor="let card of cards">
    <div class="borderRed">
      <p id="title">{{card.title}}</p>
      <p id="description">{{card.description}}</p>
      <img id="image" src="{{card.image}}"/>
      <div class="borderRed">
        <p id="categorie" *ngFor="let categorie of card.categories">{{categorie.name}}</p>
      </div>
      <div>
        <button class="btn btn-primary">Wijzig</button>
        <button class="btn btn-danger">Verwijder</button>
      </div>
    </div>
  </div>
</div>
