<mat-tab-group [selectedIndex]="1">
  <mat-tab label="Afgelopen sessies">
    <div class="tabContainer">
    <h1>Afgelopen sessies</h1>
    <mat-card *ngFor="let session of pastSessions" class="sessionBox"
              style="background-size: 100% 100%">
      <mat-card-content>
        <p style="text-align: center">
          <span style="font-weight: bold; font-size: large">{{session.name}}</span>
        </p>
      </mat-card-content>
      <mat-card-actions style="padding-bottom: 4%">
        <button style="width: 80%;" mat-raised-button color="primary">Analyse</button>
      </mat-card-actions>
    </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Huidige sessies">
    <div class="tabContainer">
    <h1>Huidige sessies</h1>
      <div *ngFor="let session of currentSessions">
      <mat-card  *ngIf="session.state === 1" class="sessionBoxSelecteren"
                style="background-size: 100% 100%; box-shadow: 0px 0px 5px 1px #FFA240;">
        <mat-card-content>
          <p style="text-align: center">
            <span style="font-weight: bold; font-size: large">{{session.name}}</span>
          </p>
            <p style="text-align: center">
              <span class="descriptionContainer">Selecteren</span>
            </p>
        </mat-card-content>
        <mat-card-actions style="padding-bottom: 4%">
          <button style="width: 80%" mat-raised-button color="primary" (click)="continueSession(session)" [disabled]="session.userSubmitted">Hervat</button>
        </mat-card-actions>
      </mat-card>
        <mat-card *ngIf="session.state === 2" class="sessionBoxCirkelen"
                   style="background-size: 100% 100%; box-shadow: 0px 0px 5px 1px #43EF1F;">
          <mat-card-content>
            <p style="text-align: center">
              <span style="font-weight: bold; font-size: large">{{session.name}}</span>
            </p>
            <p style="text-align: center">
              <span class="descriptionContainer">Cirkelen</span>
            </p>
        </mat-card-content>
        <mat-card-actions style="padding-bottom: 4%">
          <button style="width: 80%" mat-raised-button color="primary" (click)="continueSession(session)" [disabled]="session.userSubmitted">Hervat</button>
        </mat-card-actions>
      </mat-card>
      </div>
    <!--<div *ngFor="let session of currentSessions">
    <div *ngIf="session.state === 1" class="sessionBoxSelecteren"
         style="background-size: 100% 100%">
      <h2>{{session.name}}</h2>
      <div class="descriptionContainer" *ngIf="session.state === 1">Selecteren</div>
      <div class="descriptionContainer" *ngIf="session.state === 2">Cirkelen</div>
      <button mat-raised-button color="primary" (click)="continueSession(session)" [disabled]="session.userSubmitted">Hervat</button>
    </div>
      <div *ngIf="session.state === 2" class="sessionBoxCirkelen"
           style="background-size: 100% 100%">
        <h2>{{session.name}}</h2>
        <div class="descriptionContainer" *ngIf="session.state === 1">Selecteren</div>
        <div class="descriptionContainer" *ngIf="session.state === 2">Cirkelen</div>
        <button mat-raised-button color="primary" (click)="continueSession(session)" [disabled]="session.userSubmitted">Hervat</button>
      </div>
    </div>-->
    </div>
  </mat-tab>
  <mat-tab label="Geplande sessies">
    <div class="tabContainer">
    <h1>Geplande sessies</h1>
      <mat-card *ngFor="let session of plannedSessions" class="sessionBox"
                style="background-size: 100% 100%">
        <mat-card-content>
          <p style="text-align: center">
            <span style="font-weight: bold; font-size: large">{{session.name}}</span>
          </p>
          <p style="text-align: center">
            <span>26-07-2018, 16:00</span>
          </p>
        </mat-card-content>
        <!--<mat-card-actions style="padding-bottom: 4%">
          <button style="width: 80%;" mat-raised-button color="primary">Analyse</button>
        </mat-card-actions>-->
      </mat-card>
    <!--<div *ngFor="let session of plannedSessions" class="sessionBox"
         style="background-size: 100% 100%">
      <h2>{{session.name}}</h2>
      <div class="descriptionContainer">16-03-2018, 16:00</div>
    </div>-->
    </div>
  </mat-tab>
</mat-tab-group>
