<mat-tab-group [selectedIndex]="1">
  <mat-tab label="Afgelopen sessies">
    <h1>Afgelopen sessies</h1>
    <div *ngFor="let session of pastSessions" class="sessionBox"
         style="background-size: 100% 100%">
      <h2>{{session.name}}</h2>
      <button mat-raised-button color="primary">Analyse</button>
    </div>
  </mat-tab>
  <mat-tab label="Huidige sessies">
    <h1>Huidige sessies</h1>
    <div *ngFor="let session of currentSessions">
    <div *ngIf="session.state === 1" class="sessionBoxSelecteren"
         style="background-size: 100% 100%">
      <h2>{{session.name}}</h2>
      <div class="descriptionContainer" *ngIf="session.state === 1">Selecteren</div>
      <div class="descriptionContainer" *ngIf="session.state === 2">Cirkelen</div>
      <button mat-raised-button color="primary" (click)="continueSession(session)" [disabled]="session.userSubmitted">Hervat</button>
    </div>
      <div *ngIf="session.state === 2" class="sessionBoxCirkelen"
           style="background-size: 100% 100%">
        <h2>{{session.name}}</h2>
        <div class="descriptionContainer" *ngIf="session.state === 1">Selecteren</div>
        <div class="descriptionContainer" *ngIf="session.state === 2">Cirkelen</div>
        <button mat-raised-button color="primary" (click)="continueSession(session)" [disabled]="session.userSubmitted">Hervat</button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Geplande sessies">
    <h1>Geplande sessies</h1>
    <div *ngFor="let session of plannedSessions" class="sessionBox"
         style="background-size: 100% 100%">
      <h2>{{session.name}}</h2>
      <div class="descriptionContainer">16-03-2018, 16:00</div>
    </div>
  </mat-tab>
</mat-tab-group>
