
.sessions {
  width: 30%;
}

h1 {
  margin-top: 25px;
}

li {
  list-style-type: none;
}

.tabContainer {
  width: 80%;
  margin: auto;
  margin-top: 2%;
  background: #E2E0FB;
  padding: 15px;
  border-radius: 10px;
}

.sessionBox{
  width: 30%;
  display: inline-block;
  margin: 1%;
  padding: 1%;
}

mat-card-content {
  text-align: left;
}

.sessionBoxSelecteren {
  width: 30%;
  display: inline-block;
  margin: 1%;
  padding: 1%;
  box-shadow: 0px 0px 5px 1px #FFA240;
}

.sessionBoxCirkelen {
  width: 30%;
  display: inline-block;
  margin: 1%;
  padding: 1%;
  box-shadow: 0px 0px 5px 1px #43EF1F;
}

.descriptionContainer {
  text-align: center;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.example-card {
  max-width: 400px;

}
