
.sessions {
  width: 30%;
}

h1 {
  margin-top: 25px;
}

li {
  list-style-type: none;
}

.sessionBox {
  width: 25%;
  display: inline-block;
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  border: 1px solid;
}

.descriptionContainer {
  text-align: center;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.example-card {
  max-width: 400px;

}
