<!--<app-themedetail-navbar [themeId]="themeId">  </app-themedetail-navbar>-->
<div class="container">
  <table class="table text-left">
    <tr>
      <th>{{ 'Kandoe.Themedetail.organiser.tb_email' | translate }}</th>
      <th>{{ 'Kandoe.Themedetail.organiser.tb_name' | translate }}</th>
      <th>{{ 'Kandoe.Themedetail.organiser.tb_first_name' | translate }}</th>
      <th>{{ 'Kandoe.Themedetail.organiser.tb_organiser' | translate }}</th>
    </tr>
    <!--
    <tr *ngFor="let user of users" >
      <td>{{user.email}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.firstname}}</td>
      <td *ngIf="user.organiser === 'true'"><input type="checkbox" class="" id="{{user.id}}" checked /></td>
      <td *ngIf="user.organiser === 'false'"><input type="checkbox" class="" id="{{user.id}}"/></td>
    </tr>
    -->
  </table>
  <button class="btn btn-primary" (click)="saveChanges()" name="saveOrganisors">{{ 'Kandoe.Themedetail.organiser.button_save' | translate }}</button>
</div>
