<div class="organiserContainer">
  <form #organiserForm="ngForm" class="formcontainer" style="width: 100%">
        <mat-form-field  style="width: 50%;">
          <input (change)="emailAlreadyExists()" matInput="email" placeholder="Email" name="emailOrganiser" required [(ngModel)]="newOrganiser">
        </mat-form-field>
        <span style="float: right; margin-top: 10px; width: 30%">
        <button [disabled]="!uniqueMail || !organiserForm.form.valid" style="width: 100%;" mat-raised-button color="primary" name="buttonOrganiser" (click)="registerNewOrganiser()">Voeg toe</button>
        </span>
  </form>
  <table style="width: 100%">
  <tr>
      <th>Email</th>
      <th>Voornaam</th>
      <th>Achteraam</th>
    </tr>
    <tr *ngFor="let user of users">
      <td  style="padding-top: 10px">{{user.email}}</td>
      <td  style="padding-top: 10px">{{user.firstname}}</td>
      <td  style="padding-top: 10px">{{user.lastname}}</td>
      <td  style="padding-top: 10px; text-align: right">
      <button mat-raised-button color="warn" (click)="removeOrganiser(user)">Verwijder</button>
      </td>
    </tr>
  </table>
</div>
