.overview-container {
  width: 50%;
  margin: auto;
  margin-top: 2%;
  background: #E2E0FB;
  padding: 15px;
  border-radius: 10px;
}

#nameInput {
}

textarea {

  width: 500px;
  overflow: hidden;
  padding: 0px;
}

.formcontainer {
  width: 50%;
  text-align: left;
  margin: auto;
}
