<h3 style="margin-top: 2%;">Thema overzicht</h3>
<div class="overview-container container">
  <form #themeform="ngForm">
  <table class="table" style="width: 100%">
    <tr *ngIf="editing !==1">
      <td>
        <h1 id="nameField">{{ theme.name }}</h1>
      </td>
    </tr>
    <tr *ngIf="editing ==1" style="text-align: left; width: 100%">
        <mat-form-field class="form-group" style="width: 100%">
          <input id="nameInput" *ngIf="editing ==1" [(ngModel)]="theme.name" style="width: 100%" matInput placeholder="Thema naam" type="text" required name="themename" #themename="ngModel">
        </mat-form-field>
    </tr>
    <tr *ngIf="editing !==1">
      <td>
        <p style="text-align: center" id="descField" *ngIf="editing !==1">
          <span>{{theme.description }}</span>
        </p>
      </td>
    </tr>
    <tr *ngIf="editing == 1">
      <mat-form-field class="form-group" style="width: 100%">
        <textarea type="text" id="descInput" [(ngModel)]="theme.description" style="width: 100%" matInput placeholder="Beschrijving van het thema" required name="description" #themedescription="ngModel"></textarea>
      </mat-form-field>
    </tr>
    <tr style="width: 100%">
      <table *ngIf="editing === 0">
        <tr *ngFor="let tag of theme.tags">
          <td>
            <label class="text-left">{{tag}}</label>
          </td>
        </tr>
      </table>
      <table *ngIf="editing === 1" style="width: 100%">
        <tr *ngFor="let tag of theme.tags; let i = index">
          <td>
            <label class="text-left">{{tag}}</label>
          </td>
          <td>
            <button mat-raised-button color="warn" name="deleteTag" (click)="deleteTag(i)">Verwijder</button>
          </td>
        </tr>
        <tr style="width: 100%">
          <td style="width: 70%">
            <mat-form-field class="form-group" style="width: 100%">
            <input matInput style="width: 100%" id="tagInput" name="tagInput" [(ngModel)]="tagValue" placeholder="Tag">
            </mat-form-field>
          </td>
          <td style="width: 30%">
            <button style="width: 100%" mat-raised-button color="primary" name="addTag" (click)="addTag()">Toevoegen</button>
          </td>
        </tr>
      </table>
    </tr>
  </table>
    <div style="width: 100%">
      <button [disabled]="!themeform.form.valid" style="width: 49%" mat-raised-button color="primary" (click)="editing ===1 ? save() : editing=1">
        {{editing===1 ? "Opslaan" : "Wijzigen"}}
      </button>
      <button style="width: 49%" mat-raised-button color="warn" (click)="editing === 0 ? deleteTheme(theme.id) : cancelEditing()">{{editing===0 ? "Verwijderen" : "Wijzigingen annuleren"}} </button>
    </div>
  </form>
</div>
