.circle {
  width: 700px;
  height: 700px;
  margin: 50px;
  margin-left: 100px;
  position: relative;
}

.sessioncard {
  width: 35px;
  border: 1px solid blue;
  height: 35px;
  position: absolute;
  z-index: 999;
  background-color: white;
}

.subcircle {
  background: white;
  border-radius: 50%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.subcircle:nth-child(2n) {
  background: palegreen;
}

#endSessionButton{
  float: left;
  margin-left: 150px;
}


