<div class="circle">



<div *ngFor="let ring of rings" class="subcircle"
     [style.width]="ring.width + '%'" [style.height]="ring.height + '%'"
     [style.z-index]="ring.z" >
</div>


<div class="sessioncard" *ngFor="let card of sessionCards; let i = index" (click)="selectCard(card,i)" [style.left]="card.x + 'px'" [style.top]="card.y + 'px'">{{card.name}}

</div>
</div>
<p>
  {{isMyTurn}}
</p>
geselecteerd: {{selectedCard.name}}
<button class="btn btn-primary" id="confirmCardButton" [hidden]="isMyTurn" (click)="confirmMoveCard()"> Geselecteerde kaart verplaatsen </button>

<button class="btn btn-danger" id="endSessionButton" *ngIf="isOrganiser" (click)="endSession()"> Sessie beëindigen</button>
