<div>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Kandoe</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/themas/',theme.id]">overzicht</a></li>
        <li><a [routerLink]="['/themas/',theme.id,'/organisator']">organisator</a></li>
        <li><a >nieuwe sessie</a></li>
      </ul>
    </div>
  </nav>
  <!--<button [routerLink]=['/themas/',theme.themeid]> overzicht </button>-->
  <!--<button [routerLink]=['/themas/',theme.themeid],'/organisator'>organisator</button>-->
  <!--&lt;!&ndash;<button [routerLink]=['/themas/',theme.themeid]>analyse</button>&ndash;&gt;-->
</div>
