<div class="container">
  <form #themeform="ngForm" class="formcontainer">
    <div class="form-group"><label>Naam: </label>
      <input class="form-control" id="themename" type="text" required [(ngModel)]="theme.name"
             name="themename"
             #themename="ngModel">
      <div [hidden]="themename.valid || themename.pristine" class="alert alert-danger">
        Naam is verplicht.
      </div>
    </div>
    <div class="form-group"><label>Beschrijving: </label>
      <textarea class="form-control" id="themedescription" cols="40" rows="5" required
                [(ngModel)]="theme.description"
                name="description"
                #themedescription="ngModel"></textarea>
      <div [hidden]="themedescription.valid || themedescription.pristine" class="alert alert-danger">
        Beschrijving is verplicht.
      </div>
      <div>
        <tr>
          <td class="text-left">
            <span>{{theme.tags}}</span>
            <div style="width: 100%;">
              <table style="width: 80%;">
                <tr>
                  <th>Tags</th>
                </tr>
                <tr *ngFor="let tag of theme.tags; let i = index">
                  <td>
                    <label class="text-left" style="width: 75%;">{{tag}}</label>
                  </td>
                  <td>
                    <button class="btn btn-danger" name="deleteTag" (click)="deleteTag(i)">Verwijder</button>
                  </td>
                </tr>
              </table>
            </div>
            <div>
              <input type="text" name="tag" id="tagInput" [(ngModel)]="tagValue"/>
              <button class="btn btn-primary" name="addTag" (click)="addTag()">Tag toevoegen</button>
            </div>
          </td>
        </tr>
      </div>
    </div>
    <div class="form-group">
      <label>Afbeelding: </label>
      <app-file-upload name="upload"  [(ngModel)]="theme.image"></app-file-upload>
    </div>
    <button type="button" id="createtheme" [disabled]="!themeform.form.valid" class="btn btn-primary"
            (click)="createTheme()">toevoegen
    </button>
    <button class="btn btn-secondary" (click)="navigateAbort()">ga terug</button>
  </form>
</div>

