<div class="container">
  <form #themeform="ngForm" class="formcontainer">
    <mat-form-field class="form-group" style="width: 100%">
      <input style="width: 100%" matInput placeholder="{{ 'Kandoe.New-theme.ph_name' | translate }}" id="themename" type="text" required
             [(ngModel)]="theme.name" name="themename" #themename="ngModel">
    </mat-form-field>
    <mat-form-field class="form-group" style="width: 100%">
      <textarea style="width: 100%" matInput placeholder="{{ 'Kandoe.New-theme.ph_desc' | translate }}" id="themedescription" required
                [(ngModel)]="theme.description" name="description" #themedescription="ngModel"></textarea>
    </mat-form-field>
    <div class="form-group" style="width: 100%">
      <table style="width: 100%;">
        <tr *ngFor="let tag of theme.tags; let i = index">
          <td style="width: 70%;">
            <label class="themeTag" style="width: 100%;">{{tag}}</label>
          </td>
          <td style="width: 30%;">
            <button class="themeTag" style="width: 100%;" mat-raised-button color="warn" name="deleteTag"
                    (click)="deleteTag(i)">
              {{ 'Kandoe.New-theme.button_delete' | translate }}
            </button>
          </td>
        </tr>
        <tr>
          <td style="width: 70%;">
            <mat-form-field class="form-group" style="width: 100%">
              <input class="themeTagAdd" style="width: 100%;" matInput placeholder="Tag" name="tag" id="tagInput"
                     [(ngModel)]="tagValue">
            </mat-form-field>
          </td>
          <td style="width: 30%;">
            <button class="themeTagAdd" style="width: 100%;" mat-raised-button color="primary" name="addTag"
                    (click)="addTag()">
              {{ 'Kandoe.New-theme.button_add_tag' | translate }}
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="form-group">
      <br>
      <label>{{ 'Kandoe.New-theme.lbl_image' | translate }}</label>
      <app-file-upload name="upload" [(ngModel)]="theme.image"></app-file-upload>
    </div>
    <div style="width: 100%">
      <button style="width: 49%; margin-top: 30px" mat-raised-button color="primary" [disabled]="!themeform.form.valid" name="createTheme"
              (click)="createTheme()">{{ 'Kandoe.New-theme.button_add' | translate }}
      </button>
      <button style="width: 49%; margin-top: 30px" mat-raised-button (click)="navigateAbort()">{{ 'Kandoe.New-theme.button_cancel' | translate }}</button>
    </div>
  </form>
</div>

