<h3 style="margin-top: 2%;">Thema's</h3>
<div class="themesContainer">
<button name="newthemebutton" mat-raised-button color="primary" style="width: 20%;" (click)="goToNewTheme()">Nieuw thema
</button>
  <div style="margin-top: 3%;">
  <mat-card *ngFor="let currentTheme of themes" class="themeBox">
    <mat-card-content>
      <p style="text-align: center">
        <span style="font-weight: bold; font-size: large">{{currentTheme.name}}</span>
      </p>
      <p style="text-align: center">
        <span>{{currentTheme.description}}</span>
      </p>
      <ul>
        <li *ngFor="let tag of currentTheme.tags">{{tag}}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions style="padding-bottom: 4%">
      <button style="width: 40%;" mat-raised-button color="primary" (click)="goToDetail(currentTheme.id)">Details</button>
      <button style="width: 40%;" mat-raised-button color="warn" (click)="deleteTheme(currentTheme.id)">Verwijder</button>
    </mat-card-actions>
  </mat-card>
  </div>
</div>
