.borderRed{
  border: 1px solid red;
}
<!---->
.borderBlue{
  border: solid blue 1px;
}

.themeBox{
  width: 35%;
  display: inline-block;
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  border: 1px solid;
}

.subtitle{
  text-align: left;
}

.descriptionContainer{
  text-align: left;
  word-break: normal;
}

.buttonCss{
  width: 47%;
  display: inline-block;
  margin: 1%;
  border: 1px solid black;
}
