.bg {
  min-height: 570px;

  background: no-repeat center;
  background-size: cover;
}

.material-icons {
  margin: 2% 2% 2% 2%;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
