<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="dashboard">Kandoe!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" name="dashboard" routerLink="dashboard">Dashboard</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" name="themes" routerLink="themes">Thema's</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" name="session" routerLink="new-session">Nieuwe sessie</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link disabled" name="analytics">Analyses</a>
      </li>
    </ul>
    <form class="form-inline my-3 my-lg-0">
      <button class="btn btn-outline-info my-2 mr-2 my-sm-0 text-bold" routerLink="users">
        <i class="material-icons">settings</i> Account
      </button>
      <button class="btn btn-outline-danger my-2 my-sm-0 text-bold" routerLink="/login">
        <i class="material-icons">exit_to_app</i> Log out
      </button>
    </form>
  </div>
</nav>
<div class="bg">

  <div class="container">
    <div class="card card-container margin-top">
      <router-outlet></router-outlet>
    </div>
  </div>


  <footer style="margin-top: 5%" class="blockquote-footer text-white">
    <div>
      <label style="margin: auto">Kandoe! - Integratieproject 2 - Team 8 - 2017-2018 - Karel de Grote-Hogeschool</label>
    </div>
  </footer>
</div>
