.formcontainer {
  border: 1px solid red;
  width: 80%;
  margin: auto;
}

textarea {

  display: inline-block;
  float: left;
  width: 200px;
  overflow: hidden;
}

input {
  width: 200px;
}

.submitbutton {
  float: right;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
}

input {
  display: inline-block;
  float: left;
}
