<!--<app-themedetail-navbar [themeId]="themeId">  </app-themedetail-navbar>-->
<br/>
<div id="form-add-category" *ngIf="editing ==1">
  <label class="font-weight-bold">Categorienaam: </label>
  <input type="text" [(ngModel)]="editfield">
  <button class="btn btn-primary" (click)="editing === 1 ? createCategory() : editing=0">Toevoegen</button>
</div>
<div id="form-edit-category" *ngIf="editing == 2">
  <label class="font-weight-bold">Categorienaam: </label>
  <input type="text" [(ngModel)]="editfield">
  <button class="btn btn-primary" (click)="editing === 2 ? updateCategory() : editing=0">Opslaan</button>
</div>
<div id="display-all-categories" *ngIf="editing !== 1 && editing !== 2" >
  <button class="btn btn-primary" (click)="editing=1">Nieuwe categorie toevoegen</button>
  <table class="table paddingtop">
    <tr *ngFor="let category of categories">
      <td>{{category.name}}</td>
      <td><button class="btn btn-primary" (click)="editing=2" (click)="currentCategory=category" (click)="editfield=category.name">Edit</button> <button class="btn btn-danger" (click)="deleteCategory(category.id)">Delete</button></td>
    </tr>
  </table>
</div>
