<h3 style="margin-top: 2%;">'{{theme.name}}' categoriën</h3>
<div class="categoryContainer">
  <form #newCategoryForm="ngForm" class="form-group" *ngIf="editing ==1">
  <mat-form-field class="form-group" style="width: 100%">
    <input name="newcategoryname" style="width: 100%" matInput placeholder="Categorie naam" type="text" required [(ngModel)]="editfield">
  </mat-form-field>
  <button [disabled]="!newCategoryForm.form.valid" style="width: 50%;" mat-raised-button color="primary" (click)="editing === 1 ? createCategory() : editing=0">Toevoegen</button>
  </form>
  <form #editCategoryForm="ngForm" class="form-group" *ngIf="editing == 2">
  <mat-form-field class="form-group" style="width: 100%">
    <input name="editcategoryname" style="width: 100%" matInput placeholder="Categorie naam" type="text" required [(ngModel)]="editfield">
  </mat-form-field>
  <button [disabled]="!editCategoryForm.form.valid" style="width: 50%;" mat-raised-button color="primary" (click)="editing === 2 ? updateCategory() : editing=0">Opslaan</button>
  </form>
<div id="display-all-categories" *ngIf="editing !== 1 && editing !== 2">
  <button style="width: 20%" mat-raised-button color="primary" (click)="editing=1">Nieuwe categorie</button>
  <table class="table paddingtop">
    <tr *ngFor="let category of categories">
      <td>{{category.name}}</td>
      <td>
        <button mat-raised-button color="primary" (click)="editing=2" (click)="currentCategory=category"
                (click)="editfield=category.name">Wijzig
        </button>
        <button mat-raised-button color="warn" (click)="deleteCategory(category.id)">Verwijder</button>
      </td>
      <td>
        <button mat-raised-button color="primary" (click)="goToCards(category.id, category.name)">Bekijk kaarten</button>
      </td>
    </tr>
  </table>
</div>
</div>
