.breadcrumb li {
  display: inline;
}

.breadcrumb li+li:before {
  content: " > ";
  color: white;
}

.breadcrumb {
  background-color: #3E52B5;
  font-size: small;
  padding: 10px;
  border-radius: 0;
}

.breadcrumb a{
  color: white;
}
