<form #cardForm="ngForm" class="form-group cardEditContainer">
      <mat-form-field class="form-group" style="width: 100%">
        <input (input)="checkName()" style="width: 100%" matInput placeholder="{{ 'Kandoe.Themedetail.cards.edit.ph_name' | translate }}" type="text" required class="editInput" name="editcardtitle" [(ngModel)]="card.name">
        <span *ngIf="!correctName" style="color: red; padding-top: 5px; font-size: small">Kaartnaam is reeds gebruikt in deze categorie!</span>
      </mat-form-field>
      <mat-form-field class="form-group" style="width: 100%">
        <input style="width: 100%" matInput placeholder="{{ 'Kandoe.Themedetail.cards.edit.ph_desc' | translate }}" type="text" name="editcarddescription" [(ngModel)]="card.description">
      </mat-form-field>
  <table class="table" style="width: 100%">
  <tr>
      <td class="descCol">{{ 'Kandoe.Themedetail.cards.edit.lbl_image' | translate }}</td>
      <td class="editCol">
        <input type="file" class="editInput" name="editcardimage" accept=".jpg, .jpeg, .png" (change)="changeListener($event)">
      </td>
    </tr>
  </table>
        <button [disabled]="!cardForm.form.valid || !correctName" mat-raised-button color="primary" style="width: 49%" (click)="updateCard()">
          {{ 'Kandoe.Themedetail.cards.edit.button_save' | translate }}
        </button>
        <button mat-raised-button color="warn" style="width: 49%" (click)="discardChanges()">
          {{ 'Kandoe.Themedetail.cards.edit.button_delete' | translate }}
        </button>
</form>
