<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #FFA240;">
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarsDefault" aria-controls="navbarsDefault"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link font-weight-bold" [routerLink]="['overview']" routerLinkActive="activeitem" [routerLinkActiveOptions]="{exact:true}">Overzicht</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link font-weight-bold" [routerLink]="['categories']" routerLinkActive="activeitem" [routerLinkActiveOptions]="{exact:false}">Categoriën</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link font-weight-bold" [routerLink]="['organisers']" routerLinkActive="activeitem" [routerLinkActiveOptions]="{exact:true}">Organisators</a>
      </li>
    </ul>
  </div>
</nav>

